<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  
	
	
	<bean id="empBiz" class="com.cbl.aa.biz.impl.IEmpBiz">
		<property name="empDao" ref="empDao"></property>
	    <property name="roleDao" ref="roleDao"></property>	
	    <property name="menuDao" ref="menuDao"></property>   
	</bean>
	
	<!-- 菜单 -->
	<bean id="menuBiz" class="com.cbl.aa.biz.impl.IMenuBiz">
		<property name="menuDao" ref="menuDao"></property>
	</bean>
	
	<!-- 角色 -->
	<bean id="roleBiz" class="com.cbl.aa.biz.impl.IRoleBiz">
		<property name="roleDao" ref="roleDao"></property>
		<property name="menuDao" ref="menuDao"></property>
	</bean>
	<!-- 景点 -->
	<bean id="spotBiz" class="com.cbl.aa.biz.impl.ISpotBiz">
		<property name="spotDao" ref="spotDao"></property>

	</bean>
	
</beans>
	
